table{
  margin: 30px auto;
  font-family:arial;
  width:250px;
  text-align: center;
  background-color:yellow;
  border-collapse: collapse;
  border:1px solid #6a19ff;
}
caption{
  font-weight: bold;
  color:brown;
  font-size: 20px;
  background-color: #ddd;
}
thead{
  font-weight:bold;
  color:green;
}
.tableleft{
  text-align:left;
}